<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coorde.myapp.mapper.UserMapper">

    <insert id="signUp" parameterType="com.coorde.myapp.entity.User" keyProperty="user_id" useGeneratedKeys="true">
        insert into user_tb(user_id, user_pw, user_name, user_birth, user_phone, user_hei, user_wei, user_addr, user_arm, user_sh, user_top, user_ch, user_waist, user_thighs, user_bot) 
        values(#{user_id},#{user_pw},#{user_name},#{user_birth},#{user_phone},#{user_hei},#{user_wei},#{user_addr}, 0, 0, 0, 0, 0, 0, 0)
    </insert>

    <select id="userlogin" parameterType="com.coorde.myapp.entity.User" resultType="com.coorde.myapp.entity.User">
        SELECT * FROM user_tb WHERE user_id = #{user_id} AND user_pw = #{user_pw}
    </select>
    
    <select id="idFind" parameterType="com.coorde.myapp.entity.User" resultType="String">
        SELECT user_id FROM user_tb WHERE user_name = #{user_name} AND user_birth = #{user_birth} AND user_phone = #{user_phone}
    </select>
    
    <select id="pwFind" parameterType="com.coorde.myapp.entity.User" resultType="String">
        SELECT user_pw FROM user_tb WHERE user_id = #{user_id} AND user_name = #{user_name} AND user_birth = #{user_birth} AND user_phone = #{user_phone}
    </select>

</mapper>
